{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-message">Link</label>
      <input id="post-message" name="post-message" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}

<div class="card">
  <div class="field">
    <form class="new-post-form">
    <label for="post-title" class="label">Title</label>
    <div class="control">
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Text input">
    </div>
  </div>

  <div class="field">
    <label class="label" for="post-message">Message</label>
    <div class="control">
      <textarea class="textarea" id="post-message" name="post-message" placeholder="Textarea"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button id="create-post" type="submit" class="btn">Create</button>
    </div>
    </form>
  </div>
</div>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>