<div class="card">
  <section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
      <div class="field">
        <label class="label" for="post-title">Title</label>
        <div class="control">
          <input type="text" id="post-title" name="post-title" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="post-message">Message</label>
        <div class="control">
          <textarea type="text" id="post-message" name="post-message"></textarea>
        </div>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>
</div>


 
{{#if posts.length}}
<div class="card">
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
</div>
{{/if}}


<script src="/js/add-post.js"></script>